<navbar></navbar>



<div class="container">
  <div class="search">
    <input class='form-control col-sm-3' placeholder='Search Users' ng-model="search.$"></label>
  </div>
  <br>
  <p>The update and delete users as you need &nbsp (¬‿¬)</p>
  <ul class="list-group user-list">
    <li class="list-group-item" ng-repeat="user in admin.users | filter:search:strict | orderBy:'name'">
	    <div class="user-info">
	        <strong>{{user.name}}</strong><br>
	        <a href="mailto:{{user.email}}">{{user.email}}</a>
          <br><br>
          <div class="col-sm-4">
            Role:
            <select class='form-control col-sm-2' ng-model="user.role" >
              <option>admin</option>
              <option>employee</option>
              <option>user</option>
            </select>
          </div>
          <div class="col-sm-4">
            Department:
            <select class='form-control' ng-model="user.department">
              <option>Customer Service</option>
              <option>Dealer Customer Service</option>
              <option>Innovations</option>
              <option>Marketing</option>
              <option>Shipping</option>
              <option>Expereicne Specialists</option>
              <option>Dealer Expereince Specialists</option>
              <option>QA</option>
              <option>Mass Merchandising</option>
              <option>Road Show</option>
              <option>Little Giant Safety</option>
              <option>Little Giant Global</option>
              <option>Sales</option>
            </select>
          </div>
	    </div>
      <div>
        <div class='padding'>
          <a ng-click="admin.update(user)" class="update"><span class="fa fa-refresh fa-2x"></span></a>
        </div>
        <div class='padding'>
          <a ng-click='admin.delete(user)' class="trash"><span class="fa fa-trash fa-2x"></span></a>
        </div>
      </div>
    </li>
  </ul>
</div>

<footer></footer>
