<navbar></navbar>

<div class='container' ng-controller='CSCtrl'>
<br>
<br>
<div class='col-sm-2'></div>
  <form name="CSForm"  enctype="multipart/form-data" method="post" class='form-horizontal col-sm-7' novalidate>

    <div class='form-group'  ng-class="{ 'has-error': CSform.name.$touched && CSForm.name.$invalid, 'has-success': CSform.name.$touched && CSForm.name.$valid }" id='nameId'>
      <label class="col-sm-2 control-label required" for="nameInput">Name:</label>
      <div class='col-sm-10'>
        <input class='form-control' name='name'
          ng-model="customer.name"
          id="nameInput" type='text'
          placeholder="Name"
          ng-minlength='5'
          required>
      </div>
      <div ng-messages='CSForm.name.$error' ng-if="CSForm.name.$touched">
        <p ng-message="minlength">Please input both the first and last name.</p>
        <p ng-message="required">Customer name is required.</p>
      </div>
    </div>

    <div class='form-group'  ng-class="{ 'has-error': CSForm.phone.$touched && CSForm.phone.$invalid, 'has-success': CSForm.phone.$touched && CSForm.phone.$valid }">
      <label class="col-sm-2 control-label required" for="phoneInput">Phone:</label>
      <div class='col-sm-10'>
        <input class='form-control' id="phoneInput" ng-model="customer.phone" type='tel' name='phone' placeholder="Phone" required ng-minlength="11">
      </div>
      <div ng-messages='CSForm.phone.$error' ng-if="CSForm.phone.$touched">
        <p ng-message="minlength">Please format phone number like "555-555-5555".</p>
        <p ng-message="required">a phone number is required.</p>
      </div>
    </div>

    <div class='form-group' ng-class="{ 'has-error': CSForm.email.$touched && CSForm.email.$invalid, 'has-success': CSForm.email.$touched && CSForm.email.$valid }">
      <label class="col-sm-2 control-label required" for="emailInput">Email:</label>
      <div class='col-sm-10'>
        <input class='form-control required' name='email' id="emailInput" ng-model="customer.email" type='email' placeholder="Email" required >
      </div>
      <div ng-messages='CSForm.email.$error' ng-if="CSForm.email.$touched">
        <p ng-message="email">Please input a valid email.</p>
        <p ng-message="required">a email is required.</p>
      </div>
    </div>

    <!-- <div class='form-group'>
      <label class="col-sm-2 control-label" for="dateInput">Date</label>
      <div class='col-sm-10'>
        <input class='form-control' id="dateInput" ng-model="customer.date" type='date'>
      </div>
    </div> -->

    <div class='form-group'>
      <label class="col-sm-2 control-label" for="companyInput">Company (if Applicable)</label>
      <div class='col-sm-10'>
        <input class='form-control' id="companyInput" ng-model="customer.company" type='text' placeholder="company">
      </div>
    </div>

    <div class='form-group'>
      <label class='col-sm-2 control-label required' ng-class="{ 'has-error': CSform.product.$touched && CSForm.product.$invalid, 'has-success': CSform.product.$touched && CSForm.product.$valid }" for="productInput">Product:</label>
      <div class='col-sm-10' >
        <select class='form-control col-sm-10' ng-model="customer.product"  required='true' name="product">
          <option>Accessory</option>
          <option selected>Aerial Safety Cage</option>
          <option>Aircraft Support</option>
          <option>Airwing</option>
          <option>Airwing FG</option>
          <option>Alta-One</option>
          <option>As Seen on TV</option>
          <option>Assaut Ramp</option>
          <option>Boost</option>
          <option>Classic Combo SXE</option>
          <option>Compact Safety Cage</option>
          <option>Conquest</option>
          <option>Darkhorse</option>
          <option>Flip-N-Lite</option>
          <option>Ledge Lock</option>
          <option>Little Giant LT</option>
          <option>Lunar</option>
          <option>Microburst</option>
          <option>Pro Series</option>
          <option>Quantum</option>
          <option>Revolution</option>
          <option>Safeframe</option>
          <option>Select Step</option>
          <option>Select Step FG</option>
          <option>Skyscraper</option>
          <option>Smartstep</option>
          <option>Sumostance</option>
          <option>Super Duty</option>
          <option>Tactical Ladder</option>
          <option>Titan</option>
          <option>Titan X</option>
          <option>Velocity</option>
          <option>Xtreme</option>
        </select>
      </div>
      <div ng-messages='CSForm.product.$error' ng-if="CSForm.product.$touched">
        <p ng-message="$valid">Please pick a product that this is related to.</p>
        <p ng-message="required">Product is required.</p>
      </div>
    </div>

    <div class='form-group'>
      <label class="col-sm-2 control-label"  for="noticeLabelInput">Notice Label Number</label>
      <div class='col-sm-10'>
        <input class='form-control' id="noticeLabelInput" ng-model="customer.noticeLabel" type='text' placeholder="Notice Label">
        <span id="helpBlock" class="help-block">A notice label number typically contains a combination of 5-6 numbers and may contain a letter.</span>
      </div>
    </div>

    <div class='form-group'>
      <label class="col-sm-2 control-label" for="manufactureDateInput">Manufacture Date</label>
      <div class='col-sm-10'>
        <input class='form-control' ng-model="customer.manufactureDate" id="manufactureDateInput" type='text' placeholder="Manufacture Date">
        <span id="helpBlock" class="help-block">The manufacturing date stamp typically contains a combination of 5-6 numbers and may contain a letter.</span>
      </div>
    </div>

    <div class='form-group'>
      <label class="col-sm-2 control-label" for="orderNumberInput">Order Number</label>
      <div class='col-sm-10'>
        <input class='form-control' ng-model="customer.orderNumber" id="orderNumberInput" type='text' placeholder="Order Number">
        <span id="helpBlock" class="help-block">The order number.</span>
      </div>
    </div>

    <div class='form-group'>
      <label class="col-sm-2 control-label"  for="issueInput">Issue</label>
      <div class='col-sm-10'>
        <input class='form-control' id="issueInput" ng-model="customer.issue" type='text' placeholder="summarize in a sentence the issue the customer is facing">
        <!-- <span id="helpBlock" class="help-block">summarize in a sentance the issue the customer is facing.</span> -->
      </div>
    </div>

    <div class='form-group'>
      <label class="col-sm-2 control-label" for="textAreaInput">Notes</label>
      <div class='col-sm-10'>
        <textarea class='form-control' ng-model="customer.notes" id="textAreaInput" type='text' placeholder="Notes"/>
        <span id="helpBlock" class="help-block">Please include any applicable notes about the customers case/situation and what you were able to do to resolve it.</span>
      </div>
    </div>

    <div class='form-group'>
      <label class="col-sm-2 control-label" ng-model="customer.file" for="fileInput">Images</label>
      <div class='col-sm-10'>
        <input class='form-control' id="fileInput" type='file'>
        <span id="helpBlock" class="help-block">If you recived any images for this case, please upload them.</span>
      </div>
    </div>

    <button type="submit" ng-disabled="CSForm.$invalid" ng-click='update(customer)' class="btn btn-block">
      Submit
    </button>

</form>
</div>


<footer></footer>
