<navbar></navbar>

<div class="container" ng-controller='detailedCtrl'>
<br>
<div ng-init='getVOC()'>
<table class="table table-hover table-bordered">
<h4>Customer Information</h4>
<tr>
  <td class="col-sm-2">
    Name:
  </td>
  <td>
    <input class='input' ng-model="details.name" ng-blur="doneEditing(details)" autofocus />
  </td>
</tr>
  <tr>
    <td class="col-sm-2">
      Date:
    </td>
    <td>
      {{details.date | date}}
    </td>
  </tr>
  <tr>
  <td>
    Email:
  </td>
  <td>
  <input class='input' ng-model="details.email" ng-blur="doneEditing(details)" autofocus />
  </td>
</tr>
<tr>
  <td>
    Phone:
  </td>
  <td>
  <input class='input' ng-model="details.phone" ng-blur="doneEditing(details)" autofocus />
  </td>
</tr>
<tr>
  <td>
    Company:
  </td>
  <td>
  <input class='input' ng-model="details.company" ng-blur="doneEditing(details)" autofocus />
  </td>
</tr>
<tr>
  <tr>
    <td>
      Order Number:
    </td>
    <td>
    <input class='input' ng-model="details.orderNumber" ng-blur="doneEditing(details)" autofocus />
    </td>
  </tr>
  <tr>
  <td>
    Assigned Agent:
  </td>
  <td>
    <select class='form-control col-sm-2' ng-model='details.assignedAgent'>
      <option ng-repeat='user in users | orderBy:"name"'>{{user.name}}</option>
    </select>
  </td>
</tr>
<tr>
  <td>
    Status:
  </td>
  <td>
    <select class='form-control col-sm-2' ng-model="details.resolutionStatus" >
      <option>resolved</option>
      <option>unresolved</option>
    </select>
  </td>
</tr>
</table>

<table class='table table-bordered table-hover'>
<h4>Product Information</h4>
  <tr>
    <td class="col-sm-2">
      Product:
    </td>
    <td>
    <div>
      <select class='form-control col-sm-10' ng-model="details.product"  required='true' name="product">
        <option>Accessory</option>
        <option selected>Aerial Safety Cage</option>
        <option>Aircraft Support</option>
        <option>Airwing</option>
        <option>Airwing FG</option>
        <option>Alta-One</option>
        <option>As Seen on TV</option>
        <option>Assaut Ramp</option>
        <option>Boost</option>
        <option>Classic Combo SXE</option>
        <option>Compact Safety Cage</option>
        <option>Conquest</option>
        <option>Darkhorse</option>
        <option>Flip-N-Lite</option>
        <option>Ledge Lock</option>
        <option>Little Giant LT</option>
        <option>Lunar</option>
        <option>Microburst</option>
        <option>Pro Series</option>
        <option>Quantum</option>
        <option>Revolution</option>
        <option>Safeframe</option>
        <option>Select Step</option>
        <option>Select Step FG</option>
        <option>Skyscraper</option>
        <option>Smartstep</option>
        <option>Sumostance</option>
        <option>Super Duty</option>
        <option>Tactical Ladder</option>
        <option>Titan</option>
        <option>Titan X</option>
        <option>Velocity</option>
        <option>Xtreme</option>
      </select>
    </div>
    </td>
  </tr>
  <tr>
    <td>
      Manufacture Date:
    </td>
    <td>
    <input class='input' ng-model="details.manufactureDate" ng-blur="doneEditing(details)" autofocus />
    </td>
  </tr>
  <tr>
    <td>
      Part Number:
    </td>
    <td>
    <input class='input' ng-model="details.partNumber" ng-blur="doneEditing(details)" autofocus />
    </td>
  </tr>
  <tr>
    <td>
      Notes
    </td>
    <td>
      <textarea class='input' ng-model="details.notes" ng-blur="doneEditing(details)" autofocus />
    </td>
  </tr>
  <tr>
    <td>
      Image
    </td>
    <td>
      <img ng-src="{{details.image}}" alt="No images were submitted" />
    </td>
  </tr>
  <tr>
    <td>
      Image
    </td>
    <td>
      <img ng-src="{{details.image0}}" alt="No images were submitted" />
    </td>
  </tr>
  <tr>
    <td>
      Image
    </td>
    <td>
      <img ng-src="{{details.image1}}" alt="No images were submitted" />
    </td>
  </tr>
</table>

<table class="table table-bordered table-hover">
<h4>Submitter Information</h4>
  <tr>
    <td class="col-sm-2">
      Submitter:
    </td>
    <td>
    {{details.submitter}}
    </td>
  </tr>
  <tr>
    <td>
      Submitter Email:
    </td>
    <td>
    <a href="mailto:{{details.submitterEmail}}">{{details.submitterEmail}}</a>
    </td>
  </tr>
</table>
</div>

<div>
  <form >
    <button type="button" ng-show='nav.isAdmin()' class='btn' ng-click='deleteData()' name="button">Delete</button>
    <button type="submit" class='btn' ng-click='updateVOC()' name="button">Update</button>
  </form>
</div>

<footer></footer>
