<navbar></navbar>

<div class="container" ng-controller='detailedCtrl'>

<div>
  <form >
    <input ng-model='theId' type='text'>
    <button type="submit" class="btn btn" ng-click="getVOC()">Search</button>
    <button type="button" class='btn' ng-click='deleteData()' name="button">Delete</button>
    <button type="submit" class='btn' ng-click='updateVOC()' name="button">Update</button>
  </form>
</div>
<br>
<div>
<table class="table table-hover table-bordered">
<h4>Customer Information</h4>
<!-- <tr>
  <td >
     id:
  </td>
  <td>
    {{details._id}}
  </td>
</tr> -->
<tr>
  <td class="col-sm-2">
    Name:
  </td>
  <td>
    <!-- {{details.name}} -->
    <span class='input' ng-hide="details.name" ng-dblclick="editItem(details)">{{details.name}}</span>
    <input class='input' ng-show="details.name" ng-model="details.name" ng-blur="doneEditing(details)" autofocus />
  </td>
</tr>
<tr>
  <tr>
    <td class="col-sm-2">
      Date:
    </td>
    <td>
      {{details.date | date}}
      <!-- <span class='input' ng-hide="details.date" ng-dblclick="editItem(details)">{{details.name}}</span>
      <input class='input' ng-show="details.date" ng-model="details.date" ng-blur="doneEditing(details)" autofocus /> -->
    </td>
  </tr>
  <tr>
  <td>
    Email:
  </td>
  <td>
  <!-- {{details.email}} -->
  <span class='input' ng-hide="details.email" ng-dblclick="editItem(details)">{{details.email}}</span>
  <input class='input' ng-show="details.email" ng-model="details.email" ng-blur="doneEditing(details)" autofocus />
  </td>
</tr>
<tr>
  <td>
    Phone:
  </td>
  <td>
  <!-- {{details.phone}} -->
  <span class='input' ng-hide="details.phone" ng-dblclick="editItem(details)">{{details.phone}}</span>
  <input class='input' ng-show="details.phone" ng-model="details.phone" ng-blur="doneEditing(details)" autofocus />
  </td>
</tr>
<tr>
  <td>
    Company:
  </td>
  <td>
  <!-- {{details.company}} -->
  <span class='input' ng-hide="details.company" ng-dblclick="editItem(details)">{{details.company}}</span>
  <input class='input' ng-show="details.company" ng-model="details.company" ng-blur="doneEditing(details)" autofocus />
  </td>
</tr>
<tr>
  <tr>
    <td>
      Order Number:
    </td>
    <td>
    <!-- {{details.company}} -->
    <span class='input' ng-hide="details.orderNumber" ng-dblclick="editItem(details)">{{details.orderNumber}}</span>
    <input class='input' ng-show="details.orderNumber" ng-model="details.orderNumber" ng-blur="doneEditing(details)" autofocus />
    </td>
  </tr>
  <tr>
  <td>
    Assigned Agent:
  </td>
  <td>
    <select ng-repeat='user in admin.users' class='form-control col-sm-2' >
      <option>{{user.name}}</option>
    </select>
  <!-- {{details.agent}} -->
  </td>
</tr>
<tr>
  <td>
    Status:
  </td>
  <td>
    <select class='form-control col-sm-2' ng-model="details.resolutionStatus" >
      <option>resolved</option>
      <option>unresolved</option>
    </select>
  <!-- {{details.resolutionStatus}} -->
  </td>
</tr>
</table>

<table class='table table-bordered table-hover'>
<h4>Product Information</h4>
  <tr>
    <td class="col-sm-2">
      Product:
    </td>
    <td>
    <!-- {{details.product}} -->
    <div>
      <select class='form-control col-sm-10' ng-model="details.product"  required='true' name="product">
        <option>Accessory</option>
        <option selected>Aerial Safety Cage</option>
        <option>Aircraft Support</option>
        <option>Airwing</option>
        <option>Airwing FG</option>
        <option>Alta-One</option>
        <option>As Seen on TV</option>
        <option>Assaut Ramp</option>
        <option>Boost</option>
        <option>Classic Combo SXE</option>
        <option>Compact Safety Cage</option>
        <option>Conquest</option>
        <option>Darkhorse</option>
        <option>Flip-N-Lite</option>
        <option>Ledge Lock</option>
        <option>Little Giant LT</option>
        <option>Lunar</option>
        <option>Microburst</option>
        <option>Pro Series</option>
        <option>Quantum</option>
        <option>Revolution</option>
        <option>Safeframe</option>
        <option>Select Step</option>
        <option>Select Step FG</option>
        <option>Skyscraper</option>
        <option>Smartstep</option>
        <option>Sumostance</option>
        <option>Super Duty</option>
        <option>Tactical Ladder</option>
        <option>Titan</option>
        <option>Titan X</option>
        <option>Velocity</option>
        <option>Xtreme</option>
      </select>
    </div>
    </td>
  </tr>
  <tr>
    <td>
      Manufacture Date:
    </td>
    <td>
    <!-- {{details.manufactureDate}} -->
    <span class='input' ng-hide="details.manufactureDate" ng-dblclick="editItem(details)">{{details.manufactureDate}}</span>
    <input class='input' ng-show="details.manufactureDate" ng-model="details.manufactureDate" ng-blur="doneEditing(details)" autofocus />
    </td>
  </tr>
  <tr>
    <td>
      Notice label:
    </td>
    <td>
    <!-- {{details.noticeLabel}} -->
    <span class='input' ng-hide="details.noticeLabel" ng-dblclick="editItem(details)">{{details.manufactureDate}}</span>
    <input class='input' ng-show="details.noticeLabel" ng-model="details.noticeLabel" ng-blur="doneEditing(details)" autofocus />
    </td>
  </tr>
  <tr>
    <td>
      Notes
    </td>
    <td>
      <!-- {{details.notes}} -->
      <span class='input' ng-hide="details.notes" ng-dblclick="editItem(details)">{{details.manufactureDate}}</span>
      <textarea class='input' ng-show="details.notes" ng-model="details.notes" ng-blur="doneEditing(details)" autofocus />
    </td>
</table>

<table class="table table-bordered table-hover">
<h4>Submitter Information</h4>
  <tr>
    <td class="col-sm-2">
      Submitter:
    </td>
    <td>
    {{details.submitter}}
    </td>
  </tr>
  <tr>
    <td>
      Submitter Email:
    </td>
    <td>
    <a href="mailto:{{details.submitterEmail}}">{{details.submitterEmail}}</a>
    </td>
  </tr>
</table>

</div>
<footer></footer>
