#background {
 background: red; /* For browsers that do not support gradients */
 background: -webkit-radial-gradient(left, #f9461c, #1E1E1E); /* For Safari 5.1 to 6.0 */
 background: -o-radial-gradient(right, #f9461c, #1E1E1E); /* For Opera 11.1 to 12.0 */
 background: -moz-radial-gradient(right, #f9461c, #1E1E1E); /* For Firefox 3.6 to 15 */
 background: radial-gradient(to right, #f9461c, #1E1E1E); /* Standard syntax */
 width: 100%;
 height: 100%;
 position: absolute;
 right: 0;
 top: 0;
 padding: 6.5em;
}

.welcomeMessage {
  color: white;
}

.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #F9461C;
}

.navbar-text {
  margin-left: 15px;
}

.grid {
  width: 80%;
  height: 650px;
  margin-left: auto;
  margin-right: auto;
}

.margin {
  margin-left: 10%;
}

.CSheader {
  text-align: center;
}

#textAreaInput {
  height: 150px;
}

.input:focus {
    //change more attributes, if you want.
}

.input {
    border:none;
    background-color:transparent;
    height:100%;
    width: 100%;
}

.required:before {
  content:"* " ;
  color:red;
}

.authorization {
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  text-align: center;
}

.preventingImg{
  max-width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.mainHeader {
  font-family: sans-serif;
}
